Source: xsession-initscript-sidux
Section: base
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: xsession-initscript-sidux
Depends: initscripts-sidux-live, sidux-graphics, xloadimage, distro-defaults, xorgconfig-sidux
Conflicts: xsession-initscript-kanotix
Suggests: 915resolution
Architecture: all
Description: Starts X-Window system from INIT on sidux
 Custom Initscripts for the sidux live X11 capabilities.
